
.main-content {
    padding: 60px 40px !important;
    display: flow-root;
}

.form-inline .form-control {
    display: inline-block;
    width: 323px;
    vertical-align: middle;
}
.form-inline label{
    
    text-align: left;
    width: 110px;
}

h3{
    color: #5077EA;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -0.47px;
    line-height: 30px;
    text-align: left;
  }

  .padd{
    margin-top: 20px;
}

.edit {
    background-image: linear-gradient(139.45deg, #9EB0D3 0%, #465EFB 100%);
    border-radius: 5px;
    width: 131px;
    height: 43px;
   
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.28px;
    line-height: 18px;
  }

  .save {
    background-image: linear-gradient(135.42deg, #1790EA 0%, #6078EA 100%);
    border-radius: 5px;
    width: 131px;
    height: 43px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.28px;
    line-height: 18px;
  }

  .buttontop{
      margin-top: 30px;
  }

  .addnew {
    background-image: linear-gradient(135.42deg, #1790EA 0%, #6078EA 100%);
    border-radius: 5px;
    width: 117px;
    height: 40px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.28px;
    line-height: 18px;
    float: right;
  }



  
  

  .leftmr{
    margin-right: 30px;
  }

  .inlinep{
    padding-right: 0px;
  }
.padding_left{
  padding-left: 0;
}
  .btn_pop{
    margin: 0px auto;
    text-align: center;
    padding-top: 20px;
  }

  .select_options{
    width: 331px;
    height: 35px;
    padding-left: 0;
  }

  .is-invalid{
    border: 1px solid red;
  }