<div class="container">
    <div class="row content">
        <div class="col-md-8 ">
            <div>
                <form [formGroup]="myforms">
                <div >
                    <p class=" col-md-11">

                    <input trim type="text" [(ngModel)]="name" formControlName="textinput" pattern="/^[a-zA-Z ]+$/" class="form-control bottom required" required  placeholder="Write Your Best Quotes" [ngClass]="{ 'is-invalid':myforms.get('textinput').hasError('required') && myforms.get('textinput').touched || invalid}">
                
                </p>

               <br>
                        
                   
                </div><br><br><br>
                <div *ngIf="myforms.get('textinput').hasError('required') && myforms.get('textinput').touched || invalid">Text Filds is required</div>
                <div *ngIf="myforms.get('textinput').hasError('pattern')">Not valid</div>
                <button class="btn btn-success bottom" (click)="add()" [disabled]="item" >Add quote</button>
                <!-- {{quotes | json}} -->
                <!-- <button class="btn btn-danger bottom left" (click)="reset()" [disabled]="item" [disabled]="!uname.valid" type="reset">Reset</button> -->
                <li *ngFor="let sms1 of quotes; let i = index;" (click)="remove(i)" class="alert alert-info"><b>{{sms1 | titlecase}}</b>
                    <button (click)="remove(i)" class="left top btn btn-danger"><i class="fa fa-trash  " aria-hidden="true"></i></button>
                </li>
                <h3 class="text-danger bg-danger" *ngIf="quotes?.length == 0">No Items added</h3>
            </form>
            </div>
        </div> 
       
        <!-- sranka29@rediffmail.com -->
        <div class="col-md-4">
            <li *ngIf="bindEmail;then logout else login"></li>
            <ng-template #logout>
                <li><a routerLink="/logout">Logout</a></li>
            </ng-template>
            <ng-template #login>
                <li><a routerLink="/login">Login</a></li>
            </ng-template>

            <button class="btn btn-success" (click)="function()">{{toggle}}</button>
        </div>

    </div>
    

<div class="row">   
        <div class="col-xl-12">
           <table class="table">
               <tbody>
                   <tr *ngFor="let kharade of Family">
                       <td>{{kharade.name}}</td>
                       <td>{{kharade.lastname}}</td>
                       <td> <span class="city" [ngStyle]="{'background-color':getColor(kharade.city)}"> {{kharade.city}}</span></td>
                   </tr>
               </tbody>
           </table>
        </div>

    </div>
</div>