li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.color {
    color: red;
}

.center {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    z-index: 99;
    margin: auto;
}

.required:after {
    content: "REQUIRED";
    color: orange;
    margin-left: 1em;
    /* space between the input element and the text */
    padding: .1em;
    background-color: #fff;
    font-size: .8em;
    border: .1em solid orange;
}

.bottom {
    margin-bottom: 20px;
}

.left {
    float: right;
}

.top {
    margin-top: -7px;
}

.flex {
    display: flex;
}

.city{
    
    color: #fff;
    padding: 5px;
}

