<div class="container">
    <div class="row content">
        <div class="col-md-8 ">
            <div>
                <div class="flex">
                    <p class=" col-md-11"><input trim type="text" [(ngModel)]="name" class="form-control bottom required" required #uname="ngModel" placeholder="Write Your Best Quotes"></p>

                    <p [hidden]="uname.valid || uname.pristine" class="color col-md-1">
                        *
                    </p>
                </div>

                <button class="btn btn-success bottom" (click)="add()" [disabled]="item" [disabled]="!uname.valid">Add quote</button>
                <!-- {{quotes | json}} -->
                <!-- <button class="btn btn-danger bottom left" (click)="reset()" [disabled]="item" [disabled]="!uname.valid" type="reset">Reset</button> -->
                <li *ngFor="let sms1 of quotes; let i = index" (click)="remove(i)" class="alert alert-info"><b>{{sms1 | titlecase}}</b>
                    <button (click)="remove(i)" class="left top btn btn-danger"><i class="fa fa-trash  " aria-hidden="true"></i></button>
                </li>

            </div>
        </div> 
        <!-- sranka29@rediffmail.com -->
        <div class="col-md-4">
            <li *ngIf="bindEmail;then logout else login"></li>
            <ng-template #logout>
                <li><a routerLink="/logout">Logout</a></li>
            </ng-template>
            <ng-template #login>
                <li><a routerLink="/login">Login</a></li>
            </ng-template>

            <button class="btn btn-success" (click)="function()">{{toggle}}</button>
        </div>

    </div>
    

<div class="row">   
        <div class="col-xl-12">
           <table class="table">
               <tbody>
                   <tr *ngFor="let kharade of Family">
                       <td>{{kharade.name}}</td>
                       <td>{{kharade.lastname}}</td>
                       <td> <span class="city" [ngStyle]="{'background-color':getColor(kharade.city)}"> {{kharade.city}}</span></td>
                   </tr>
               </tbody>
           </table>
        </div>

    </div>
</div>